.App{
    background-color: #f3f3f3;
}
.App a{
    color:black;
    text-decoration: none;
}
.App a:hover{
    color:black
}

input::file-selector-button{
    cursor: pointer;
    width:100%;
    z-index:2;
    height: 5vh;
    border: none;
    /* flex:7; */
  }